// цвета
$color-bg-main: #f8f8f8;
$color-bg-white: #ffffff;
$color-text-primary: #1b1c21;
$color-text-muted: #7e7e82;
$color-accent: #41f6d7;
$color-accent-border: #b8ffec;
$color-border: #00ffdd;
$color-text-shadow: rgba(0, 255, 149, 0.973) 0px 0px 5px;

// брейкпоинты
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1440px;
